<div class="main">
	<div class="login">
		<%= link_to "Login", new_user_session_path %>
		<br>	
		<%= link_to "Sing Out", destroy_user_session_path, method: :delete %>
	</div>
	<br>
	<div class="options">
		<%= link_to "Show Inventory", inventory_index_path %>			
	</div>
</div>
